* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: 	
  rgb(255, 255, 255);
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
  padding: 25px 0;
}
